<h1><%= @board.name %></h1>

<div class="image">
<img src="https://robohash.org/<%= @artist.avatar %>?set=set5" />
</div>

<h4>Name: <%= @artist.name %></h4>
<h4>Genre: <%= @artist.genre %></h4>

<h2>Songs</h2>
<% @artist.songs.each do |song| %>
  <%= song.name %>
<% end %>
<br />
<br />
<%= link_to 'View Songs', artist_songs_path(@artist), class: "ui basic button" %>
<%= link_to 'Edit Artist', edit_board_artist_path([@board, @artist]), class: "ui basic button" %> 
<%= link_to 'Delete Artist', [@board, @artist], method: :delete, class: "ui basic button" %> 
<%= link_to 'Back To Artists', board_artists_path(@board), class: "ui basic button" %>